:root{
    --primary: #f0f0f0;
    --secondary: #171717;
    --tertiary: #C00000;
    --gray: #9C9C9C;
}
@font-face {
    font-family: 'New';
    src: url('https://fonts.google.com/share?selection.family=Cantarell:ital,wght@0,400;0,700;1,400;1,700');
}

body, html{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.body::-webkit-scrollbar{ width: 0px;}
.body::-webkit-scrollbar-thumb{ background: rgb(195, 192, 192); }
.body::-webkit-scrollbar-track{ background-color: white; }




body > .body{
    max-height: 100vh;
    overflow: auto;
}







/* HEADER */


header{
    width: 100%;
    height: 100px;
    padding: 20px 50px;
    background-color: rgba(255, 255, 255, 0.5);
    background-color: var(--primary);
    font-size: 18px;
    position: fixed;
    top: 0%; left: 0;
    z-index: 99;
    /*box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);*/

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
header #logo{
    width: 100px;
}
header a{
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
}
header a:hover{color: var(--tertiary); font-weight: 500;}

header li{
    display: inline-block;
    margin-left: 35px;
}
header #contact{
    padding: 10px 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
}
header #contact:hover{
    background-color: gray;
    background-color: var(--tertiary);
    color: white;
    font-weight: normal;
}
header #menu{
    padding: 5px;
    width: 45px;
    border-radius: 5px;
    box-sizing: border-box;
}
header #menu:hover{
    background-color: lightgray;
    /*background-color: var(--tertiary); 
    filter: brightness(0) invert(1);*/
}
header #li-menu{
    display: block;
    display: none;
}



/* SECTION 1 */
.section1{
    padding-top: 100px;
    width: 100%;
    height: 700px;
    background-color: var(--primary);
    box-sizing: border-box;

    gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 60px;
    grid-auto-flow: dense;
}

.section1 div{
    box-sizing: border-box;
}

/* BOX 1 */
.section1 > .box1{
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: green;
    background-color: transparent;
    font-family: Helvetica;
    display: flex;
    justify-content: end;
    align-items: center;
}
.section1 > .box1 > div{
    background-color: gray;
    background-color: transparent;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}
.section1 > .box1 > div > h1{
    margin: 0;
    text-align: right;
    font-size: 95px;
    text-transform: uppercase;
    font-family: 'New';
    letter-spacing: 5px;
}
.section1 > .box1 > div > .line{
    width: 120px;
    height: 8px;
    border: none;
    border-radius: 50px;
    background: var(--tertiary);
}
.section1 > .box1 > div > p{
    text-align: right;
    color: var(--gray);
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 25px;
}

/* BOX 2 */
.section1 > .box2{
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: gray;
    background-color: transparent;
    
    display: flex;
    justify-content: end;
}
.section1 > .box2 > .icons{
    width: max-content;
    display: flex;
    gap: 20px;
}
.section1 > .box2 > .icons > a > img{
    width: 40px;
    height: 40px;
    filter: grayscale(100%) brightness(100%) opacity(30%);
}
.section1 > .box2 > .icons > a > img:hover{
    filter:grayscale(0);
}

/* BOX 3 */
.section1 > .box3{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: pink;
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: end;
}

.section1 > .box3 > img{
    width: auto;
    height: 98%;
    box-sizing: border-box;
    /*position: sticky;*/
    /*filter: drop-shadow(-2px -10px 0px red);*/
}




/* SECTION 2 */
.section2{
    padding: 100px 20% 750px;
    width: 100%;
    height: max-content;
    background-color: var(--secondary);
    background-image: url('../../images/project/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.8);
    color: var(--primary);
    color: white;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 20px;

    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    box-sizing: border-box;
}
.section2::before {
    content: "";
    position: absolute;
    position: default;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.82);
    z-index: -1;
}




/* SECTION 3 */
.section3{
    padding: 50px 450px;
    width: 100%;
    min-height: 300px;
    background-color: white;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.section3 > div{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section3 > div > nav{
    margin: 30px 40px;
    width: 80px;
    height: 80px;
    background-color: wheat;
    background-color: white;
}
.section3 > div > nav > img{
    width: 100%;
    height: 100%;
    filter: grayscale(0);
}/*
.section3 > div > nav > img:hover{ 
    filter: grayscale(100);
}*/





/* SECTION 4 */
.section4{
    padding: 50px 450px;
    width: 100%;
    min-height: 300px;
    background-color: var(--primary);

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.section4 > div{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.section4 > div > nav{
    margin-top: 20px;
    width: 100%;
    height: 300px;
    height: auto;
    background-color: white;
    display: flex;

    flex-direction: column; /*added*/
    width: 300px;
    width: 30%;

    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5)rgba(0, 0, 0, 0.1);
}
.section4 > div > nav > img{
    width: 45%;
    background-color: aliceblue;
    /*added*/
    width: 100%;
    min-height: 200px;
    background-color: aliceblue;
}
.section4 > div > nav > section{
    padding: 20px;
    width: 55%;
    min-width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    box-sizing: border-box;
    gap: 5px;

    background-image: linear-gradient(to top, white, rgba(131, 131, 131, 0.50));

    /*added*/
    padding: 20px;
    width: 100%;
}
.section4 > div > nav > section >h1{
    margin: 0;
    font-size: 30px;
    font-size: 20px;
}
.section4 > div > nav > section >p{
    margin: 0;
    font-size: 20px;
    font-size: 16px;
}



/* Footer */
footer{
    width: 100%;
    min-height: 60px;
    height: auto;
    background-color: var(--secondary);
}
footer .quotes{
    width: 100%;
    height: 100px;
    background-color: #646464;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer .footer{
    width: 100%;
    height: 50px;
    background-color: var(--secondary);
    color: var(--primary);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
footer .icons{
    width: max-content;
    display: flex;
    gap: 20px;
}
footer .icons > a > img{
    width: 40px;
    height: 40px;
    filter: grayscale(100%) brightness(50%) opacity(100%) invert(100%);
}
footer .icons > a > img:hover{
    filter:grayscale(0);
}


/* Sidebar*/
body > .sidebar{
    position: absolute; 
    padding: 25px;
    width: 300px;
    height: 100%;
    top: 0%; right: 0%; 
    background-color: var(--primary); 
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    z-index: 99;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: all .5s;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: start;
    display: block;
}
.sidebar > img{
    padding: 10px;
    width: 45px;
    border-radius: 50%;
    box-sizing: border-box;
}
.sidebar > img:hover{ background-color: #e6e6e6;;}
.sidebar > img:active{ background-color: rgba(255, 186, 186, 0.5);}
.sidebar ul{
    padding: 10px;
}
.sidebar li{
    margin: 0;
    margin-bottom: 30px;
    font-size: 20px;
    list-style: none;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar li a{
    text-decoration: none;
    color: var(--secondary);
}
.sidebar li a:hover { color: var(--tertiary); font-weight: 500;}
.sidebar #contact2{
    padding: 10px 30px;
    border-radius: 25px;
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 18px;
}
.sidebar #contact2:hover{
    background-color: var(--tertiary);
}



/* Icons */
.sidebar > .icons{
    width: max-content;
    position: absolute;
    bottom: 0%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
.sidebar > .icons > a {text-decoration: none;}
.sidebar > .icons > a > img{
    margin: 0px 8px;
    width: 35px; height: 35px;
    filter: grayscale(100%) brightness(80%) opacity(40%);
    border-radius: 50%;
}
.sidebar > .icons > a > img:hover{ filter: grayscale(0) opacity(100);}




/* General */
.title { 
    font-size: 30px; 
    margin: 0;
    text-align: center;
}
.line{
    margin: 10px;
    width: 350px;
    height: 10px;
    border: none;
    border-radius: 15px;
    background-color: var(--tertiary);
    background: lightgray;
}